[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-asyncio = "*"
codecov = "*"
coverage = "*"
pylint = "*"
PyJWT = "*"
black = "==22.3.0"
sphinx = "*"

[requires]
python_version = "3.6"

[packages]
